.Scaloni {
  font-weight: bold;
  font-size: 25px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.players {
  font-size: 2rem;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 5px;
}

.paragraphPlayers {
  font-size: 2em;
  color: #fff;
  margin-bottom: 15px;
}

.fotoCarnet {
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
  height: auto;
  border: 2px solid gold;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.biography {
  text-decoration: none;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.biographyh1 {
  text-size-adjust: 20px;
  text-align: center;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
}

.biography p h2 {
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.biography h2 {
  text-decoration: underline solid #1D93DB 2px;
  color: white;
  margin: 25px;
  padding: 25px;
  text-align: center;
}

.parrafoScaloni {
  font-weight: bold;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  color: #1D93DB;
  background-color: yellow;
}

.videoScaloni {
  padding: auto;
  margin-top: 45px;
  margin-left: 45px;
  margin: 25px;
  border-radius: 3rem;
  width: 50%;
  height: 500px;
}

.mainContact {
  background-image: url(../img/dibu.jpeg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  margin-bottom: auto;
}

form {
  width: 100%;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 7px;
  color: #1D93DB;
}

input,
textarea {
  text-align: center;
  display: block;
  width: 50%;
  padding: 10px;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 12px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.proposal {
  padding: 25px;
  margin: 25px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: white;
}

footer {
  padding: 2px;
  border-top: black solid 2px;
  text-align: center;
  background-image: url(../img/flag.png);
  margin-top: auto;
}

.footerp {
  font-size: 15px;
  padding: 7px;
  margin: 0px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  cursor: url(../img/pointer1.cur), auto;
}

a {
  cursor: url(../img/pointer2.cur), auto;
}

/* Title and Picture Index */
.subTitle {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}

.subTitlep {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
  text-decoration: wavy black;
}

.homeUno {
  background-image: url(../img/flag.png);
}

.homeDos {
  background-image: url(../img/fondo-1.png);
}

/* Title and Picture Index */
.video {
  padding: auto;
  margin-top: 45px;
  margin-left: 45px;
  border-radius: 3rem;
  width: 50%;
  height: 500px;
}

.parrafoIndex {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background-color: #1D93DB;
}

main {
  text-align: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: yellow;
  font-family: "Oswald", sans-serif;
  font-weight: 35px;
}

iframe {
  margin: auto;
  display: block;
}

.navigation {
  text-align: center;
  color: white;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

/* Media Query Tablet and Mobile */
@media (max-width: 1023px) {
  .navigation {
    height: auto;
    width: auto;
    flex-direction: row;
    text-align: center;
  }
  .video {
    height: auto;
    max-width: 100%;
    padding: auto;
    margin: auto;
  }
  .title {
    font-size: 2rem;
  }
  .subTitle {
    font-size: 1.3rem;
    text-align: center;
  }
  .subTitlep {
    font-size: 1rem;
    text-align: left;
  }
  .parrafoIndex {
    font-size: 1rem;
    text-align: left;
  }
  .videoScaloni {
    height: auto;
    max-width: 100%;
    padding: auto;
    margin: auto;
  }
  .subtitleb {
    font-size: 20px;
    text-align: left;
    margin: auto;
    padding: auto;
  }
  .Scaloni {
    font-size: 15px;
    text-align: left;
    margin: auto;
    padding: auto;
  }
  .parrafoScaloni {
    font-size: auto;
    text-align: justify;
    margin: auto;
    padding: auto;
  }
  .fotos {
    padding: 5px;
    max-width: 100%;
    height: auto;
  }
  .statisticksh2 {
    font-size: 20px;
  }
  .parrafoInicio {
    font-size: 14px;
  }
  .parrafos {
    font-size: 12px;
  }
  .storeh2 {
    font-size: 23px;
  }
  .storep {
    font-size: 18px;
    text-align: left;
  }
  .map {
    max-width: 100%;
    height: auto;
  }
  .mainContact {
    background-image: url(../img/dibu.jpeg);
    height: 100%;
    width: 100%;
    background-size: cover;
    margin-bottom: auto;
  }
  .proposal {
    font-size: 23px;
  }
  .form {
    max-width: 100%;
  }
  .input {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  .textarea {
    margin-bottom: 10px;
    max-width: 100%;
    height: 170px;
  }
  .label {
    font-size: 14px;
    margin-bottom: 5px;
    height: auto;
  }
  .button {
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
  }
  footer {
    flex-direction: row;
    text-align: center;
  }
}
.statisticsh1 {
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  padding: 20px;
  margin: 20px;
  font-size: 45px;
}

.statisticksh2 {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 27px;
  color: white;
}

.statisticsContainer h2 {
  text-align: center;
  padding: 15px;
  margin: 15px;
}

.statisticsContainer {
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.statisticsMain {
  background-image: url(../img/worldCup.jpeg);
  background-position: center;
}

.parrafoInicio {
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  text-align: left;
  color: white;
}

.fechas {
  font-size: 35px;
  text-decoration: underline white 2px;
  color: white;
}

.parrafos {
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  color: white;
  background-color: black;
}

.Fotos {
  width: 1200px;
  height: 630px;
  padding: 30px;
}

.storeh1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  margin: 20px;
  padding: 20px;
}

.mainStore {
  background-image: url(../img/store.jpeg);
  background-repeat: no-repeat;
}

.storeh2 {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: white;
}

.storep {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 20px;
  text-align: left;
  font-weight: bolder;
  font-size: 25px;
  color: white;
  background-color: black;
}

.title {
  text-align: center;
  font-size: 45px;
  font-family: "Roboto", sans-serif;
  color: white;
}

h2 {
  margin: 20px;
  padding: 20px;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
