// All Footers //
footer {
    padding: 2px;
    border-top: black solid 2px;
    text-align: center;
    background-image: url(../img/flag.png);
    margin-top: auto;
}
// All Footers //

// Footer Store //
.footerp {
    font-size: 15px;
    padding: 7px;
    margin: 0px;
}
// Footer Store //
