// Navbar //
.navigation {
    text-align: center;
    color: $text-color1;
}
// Navbar //

// All Nav //
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
// All Nav //