// All Titles //
.title {
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: $text-color1;
}
// All Titles //

// All H2 //
h2 {
    margin: 20px;
    padding: 20px;
    text-decoration: underline;
}
// All H2 //

