* {
    margin: 0;
    padding: 0;
}

/* Navbar Settings */
.navigation {
    text-align: center;
    color: white;
}
/* Navbar Settings */

/* Title and Picture Index */
.subTitle {
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.subTitlep {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-decoration:wavy black;
}

.homeUno {
    background-image: url(../img/flag.png);
}


.homeDos {
    background-image: url(../img/fondo-1.png);
}
/* Title and Picture Index */

/* All mains */
main {  
    
    text-align: 15px;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* All mains */

/* All H2 */
h2 {
    margin: 20px;
    padding: 20px;
    text-decoration: underline;
}
/* All H2 */

/* All Titles */
.title {
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
/* All Titles */

/* All Nav */
nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
/* All Nav */

/* Main logo */
a {
    text-decoration: none;
    text-transform: uppercase;
    color: yellow;
    font-family: 'Oswald', sans-serif;
    font-weight: 35px ;
}
/* Main logo */

/* All Footers */
footer {
    padding: 2px;
    border-top: black solid 2px;
    text-align: center;
    background-image: url(../img/flag.png);
    margin-top: auto;
}
/* All Footers */

/* Footer Store */
.footerp {
    font-size: 15px;
    padding: 7px;
    margin: 0px;
}
/* Footer Store */

/* Biography Setting */
.biography {
    text-decoration: none;
    background-image: url(../img/scaloni.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.biographyh1 {
    text-size-adjust: 20px;
    text-align: center;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
}


.biography p h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}


.biography h2 {
    text-decoration: underline yellow;
    margin: 25px;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
    color: yellow;
}
/* Biography Setting */

/* Entry Text Setting */
.Scaloni {
    font-weight: bold;
    font-size: 25px;
    color: white;
    font-family: 'Roboto', sans-serif;
}
/* Entry Text Setting */

/* Video Scaloni Setting */
.videoScaloni {
    padding: 30px;
    margin-top: 45px;
    margin-left: 45px;
    border-radius: 3rem;
    width: 1250px;
    height: 700px;
}
/* Video Scaloni Setting */

/* Paragraph Biography */
.parrafoScaloni {
    font-weight: bold;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #1D93DB;
}
/* Paragraph Biography */

/* Index Video */
.video {
    padding: 30px;
    margin-top: 45px;
    margin-left: 45px;
    border-radius: 3rem;
    width: 1250px;
    height: 700px;
}
/* Index Video */

/* Paragraph Index */
.parrafoIndex {
    margin: 15px;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
/* Paragraph Index */

/* Setting of Statistics */
.statisticsh1 {
    text-align: center;
    text-decoration: none ;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin: 20px;
    font-size: 45px;
}


.statisticksh2 {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 27px;
    color: white;
}


.statisticsContainer h2 {
    text-align: center;
    padding: 15px;
    margin: 15px;
}


.statisticsContainer {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: bold;
}


.statisticsMain {
    background-image: url(../img/worldCup.jpeg);
    background-position: center;
    
}


.parrafoInicio {
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-align: left;
    color: white;
}


.fechas {
    font-size: 35px;
    text-decoration: underline white 2px;
    color: white;
}


.parrafos {
    text-decoration: none;
    text-align: left;
    color: white;
}


.Fotos {
    width: 1200px;
    height: 630px;
    padding: 30px;
}
/* Setting of Statistics */

/* Setting of maps and video */
iframe {
    margin: auto;
    display: block;
}
/* Setting of maps and video */

/* Title of Store */
.storeh1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    margin: 20px;
    padding: 20px;
}
/* Title of Store */

/* Fondo Main Store */
.mainStore {
    background-image: url(../img/store.jpeg);
    background-repeat: no-repeat;
}
/* Fondo Main Store */

/* Subtitle Store */
.storeh2 {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: white;
}
/* Subtitle Store */

/* store paragraph */
.storep {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 20px;
    text-align: left;
    font-weight: bolder;
    font-size: 25px;
    color: white;
}
/* store paragraph */

/* contact background */
.mainContact {
    background-image: url(../img/dibu.jpeg);
    background-size: cover;
    margin-bottom: auto;
}
/* contact background */

/* Form Settings */
form {
    width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


label {
    display: block;
    font-weight: bold;
    margin-bottom: 7px;
    color: #1D93DB;
}


input,
textarea {
    text-align: center;
    display: block;
    width: 50%;
    padding: 10px;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 12px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Form Settings */
/* Style Form */
.proposal {
    padding: 25px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #1D93DB;
}
/* Style Form */

/* Media Query Tablet and Mobile */
@media (max-width:1023px) {
    /* All Header */
    .navigation {
        height: auto;
        width: auto;
        flex-direction: row;
        text-align: center;
    }
    /* All Header */

    /* Video Index */
    .video {
        height: auto;
        max-width: 100%;
        padding: auto;
        margin: auto;
    }
    /* Video Index */

    /* Titles and Subtitles */
    .title {
        font-size: 2rem;
    }
    .subTitle {
        font-size: 1.3rem;
        text-align: center;
    }
    .subTitlep {
        font-size: 1rem;
        text-align: left;
    }
    /* Titles and Subtitles */

    /* Paragraph Index */
    .parrafoIndex {
        font-size: 1rem;
        text-align: left;
    }
    /* Paragraph Index */

    /* Biography Video */
    .videoScaloni {
        height: auto;
        max-width: 100%;
        padding: auto;
        margin: auto;
    }
    /* Biography Video */

    /* Biography Settings */
    .subtitleb {
        font-size: 20px;
        text-align: left;
        margin: auto;
        padding: auto;
    }

    .Scaloni {
        font-size: 15px;
        text-align: left;
        margin: auto;
        padding: auto;
    }
    
    .parrafoScaloni {
        font-size: auto;
        text-align: justify;
        margin: auto;
        padding: auto;
    }
    /* Biography Settings */

    /* Statistics Settings */
    .Fotos {
        max-width: 100%;
        height: auto;
    }
    
    .statisticksh2 {
        font-size: 20px;
    }

    .parrafoInicio {
        font-size: 14px;
    }

    .parrafos {
        font-size: 12px;
    }
    /* Statistics Settings */

    /* Store Settings */
    .storeh2 {
        font-size: 23px;
    }

    .storep {
        font-size: 18px;
        text-align: left;
    }

    .map {
        max-width: 100%;
        height: auto;
    }

    /* Store Settings */

    /* Contact Settings */

    .proposal {
        font-size: 23px;
    }

    .form {
        max-width: 100%;
    }

    .input {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    
    .textarea {
        margin-bottom: 10px;
        max-width: 100%;
        height: 170px;
    }

    .label {
        font-size: 14px;
        margin-bottom: 5px;
        height: auto;
    }

    .button {
        width: auto;
        height: auto;
        margin: 10px;
        padding: 10px;
    }

    /* Contact Settings */

    /* Footer */
    footer {
        flex-direction: row;
        text-align: center;
    }
    /* Footer */
}
/* Media Query Tablet and Mobile */